{% for item in ldap.ro_users %}
dn: {{ item.dn }}
userpassword: {{ item.userPassword }}
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetorgperson
mail: {{ item.cn }}
givenname: {{ item.cn }}
uid: {{ item.cn }}
description: account to have readonly access
sn: {{ item.cn }}
cn: {{ item.cn }}

{% endfor %}
