[Unit]
Description="Omnius StatusDaemon"
After=network.target

[Service]
Type=forking
User=omnius-statusdaemon
Group=omnius-statusdaemon
ExecStart=/usr/bin/mono-service -l:{{ outer_item.pid }} -d:/opt/omnius/statusdaemon /opt/omnius/statusdaemon/Dynacommerce.StatusQueueService.{{ outer_item.name }}.exe
PIDFile={{ outer_item.pid }}
StandardOutput=journal+console
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
