# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = {{ item.percpu | bool | lower }}
  ## Whether to report total system cpu stats or not
  totalcpu = {{ item.totalcpu | bool | lower }}
  ## If true, collect raw CPU time metrics.
  collect_cpu_time = {{ item.collect_cpu_time | bool | lower }}
  ## If true, compute and report the sum of all non-idle CPU states.
  report_active = {{ item.report_active | bool | lower }}
