location /app/                { deny all; }
location /includes/           { deny all; }
location /lib/                { deny all; }
location /media/downloadable/ { deny all; }
location /pkginfo/            { deny all; }
location /report/config.xml   { deny all; }
location /var/                { deny all; }
location /var/export/         { autoindex on; }
location /var/debug/          { autoindex on; }
location /var/report/         { autoindex on; }
location /var/jobs/           { autoindex on; }
location /var/stubs/          { autoindex on; }
location /var/log/          { autoindex on; }
location /shell/              { deny all; }
location /bootstrap/          { deny all; }
{% if nginx.media_browse is defined %}
location /media/              { autoindex on; }
{% endif %}
## Execute PHP scripts
location ~* .php$ {
    fastcgi_pass unix:/run/php-fpm/{{ item.1.fpm_pool }}.sock;
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_send_timeout 1800;
    fastcgi_read_timeout 1800;
    fastcgi_connect_timeout 1800;
    fastcgi_param MAGE_RUN_CODE {{ item.1.mage_run_code }};
    fastcgi_param MAGE_RUN_TYPE {{ item.1.mage_run_type }};
    fastcgi_param MAGE_ENV_CODE {{ item.1.mage_env_code }};
    {% if item.1.mage_dev_mode %}
    fastcgi_param MAGE_IS_DEVELOPER_MODE on;
    {% endif %}
    fastcgi_param HTTPS {{ item.1.https }};

    include fastcgi_params;
    add_header Content-Security-Policy "default-src 'self'; font-src 'self' fonts.gstatic.com maxcdn.bootstrapcdn.com data:; script-src 'self' maps.googleapis.com 'unsafe-inline' 'unsafe-eval'; img-src * 'self' data: https:; style-src 'self' maps.googleapis.com fonts.googleapis.com maxcdn.bootstrapcdn.com 'unsafe-inline'; frame-src 'self'; object-src 'self'; connect-src *.dynacommercelab.com";
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
}

error_page 599 =503 @maintenance;
location @maintenance {
    if ($request_method ~* GET) {
        rewrite ^(.*)$ /maintenance.html break;
    }
    return 503;
}
