server {
  listen {{ item.port }};
  listen [::]:{{ item.port }};

  server_name {{ item.server_name }} {% if item.aliases is defined %}{% for alias in item.aliases %} {{ alias }}{% endfor %}{% endif %};

  access_log {{ item.log_dir }}/{{ item.log_name }}_access.log;
  error_log {{ item.log_dir }}/{{ item.log_name }}_error.log;

  root {{ item.web_root }};
  index index.html index.php;

  charset utf-8;
  error_page 404 /404.html;

  include /etc/nginx/conf.d/gzip.conf;
  include /etc/nginx/conf.d/expires.conf;

  location / {
    try_files $uri $uri/ /index.php$is_args$args;
  }

  {% for include in item.includes -%}
    include /etc/nginx/conf.d/{{ include.name }}.conf;
  {% endfor %}
}
