{
  "http.port": 9010,
  "http.host": "/",
  "adapter": {
    "useDefaultPath": true,
    "path": "",
    "peal": {
      "customers": {
        "url": "{{ installedbase.endpoint.peal }}/customer/{customerId}/profile",
        "sslEnabled": true,
        "authDetails": {
          "username": "user",
          "password": "password"
        },
        "proxy": {
          "proxyEnabled" : false,
          "host": "",
          "port": 8080,
          "type": "HTTP",
          "useProxyAuth": false,
          "username": "",
          "password": ""
        }
      },
      "products": {
        "url": "{{ installedbase.endpoint.peal }}/customer/{customerId}/products",
        "sslEnabled": true,
        "authDetails": {
          "username": "user",
          "password": "password"
        },
        "proxy": {
          "proxyEnabled" : false,
          "host": "",
          "port": 8080,
          "type": "HTTP",
          "useProxyAuth": false,
          "username": "",
          "password": ""
        }
      },
      "catalog": {
          "url": "{{ installedbase.endpoint.catalog }}",
           "sslEnabled": true
      }
    }
  },
  "multimapper": {
    "http.host": "localhost",
    "http.port": 9009
  },
  "metrics": {
    "useMetrics": false,
    "influxdb": {
      "login": "telegraf",
      "password": "{{ vault.installedbase.influxdb_password}}",
      "protocol": "https",
      "host": "telegraf-influxdb.dynacommercelab.com",
      "port": 443,
      "db_name": "metrics"
    }
  }
}
