delete from core_config_data where path = 'web/secure/base_url';
delete from core_config_data where path = 'web/unsecure/base_url';

{% for base in ose.storeviews.stores %}
insert into core_config_data (scope, scope_id, path, value) values ('websites', {{ base.scope_id }}, 'web/unsecure/base_url', '{{ base.base_url }}');
insert into core_config_data (scope, scope_id, path, value) values ('websites', {{ base.scope_id }}, 'web/secure/base_url', '{{ base.base_url }}');
{% endfor %}

{% if ose.storeviews.default_stores is defined %}
{% for base in ose.storeviews.default_stores %}
insert into core_config_data (scope, scope_id, path, value) values ('default', {{ base.scope_id }}, 'web/unsecure/base_url', '{{ base.base_url }}');
insert into core_config_data (scope, scope_id, path, value) values ('default', {{ base.scope_id }}, 'web/secure/base_url', '{{ base.base_url }}');
{% endfor %}
{% endif %}
