<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.jenkins.plugins.bitbucket.endpoints.BitbucketEndpointConfiguration plugin="cloudbees-bitbucket-branch-source@2.2.10">
  <endpoints>
    <com.cloudbees.jenkins.plugins.bitbucket.endpoints.BitbucketCloudEndpoint>
      <manageHooks>true</manageHooks>
      <credentialsId>dynalean-api-key-credential</credentialsId>
    </com.cloudbees.jenkins.plugins.bitbucket.endpoints.BitbucketCloudEndpoint>
  </endpoints>
</com.cloudbees.jenkins.plugins.bitbucket.endpoints.BitbucketEndpointConfiguration>