<?xml version='1.1' encoding='UTF-8'?>
<hudson.plugins.sonar.SonarGlobalConfiguration plugin="sonar@2.7">
  <installations>
    <hudson.plugins.sonar.SonarInstallation>
      <name>My SonarQube Server</name>
      <serverUrl>{{ jenkins_sonarqube_settings.server_url }}</serverUrl>
      <serverAuthenticationToken>{{ jenkins_sonarqube_settings.server_authentication_token }}</serverAuthenticationToken>
      <mojoVersion></mojoVersion>
      <additionalProperties></additionalProperties>
      <additionalAnalysisProperties></additionalAnalysisProperties>
      <triggers>
        <skipScmCause>false</skipScmCause>
        <skipUpstreamCause>false</skipUpstreamCause>
        <envVar></envVar>
      </triggers>
    </hudson.plugins.sonar.SonarInstallation>
  </installations>
  <buildWrapperEnabled>true</buildWrapperEnabled>
</hudson.plugins.sonar.SonarGlobalConfiguration>
