server {
  listen 443 ssl;
  server_name {{ item.name }};
  ssl on;

  # Logging
  access_log /var/log/nginx/{{ item.name }}_access.log;
  error_log  /var/log/nginx/{{ item.name }}_error.log;
  ssl_certificate /etc/letsencrypt/live/{{ nginx_proxy.nginx_cert }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx_proxy.nginx_cert }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
  client_max_body_size  500M;

  location / {
    proxy_pass http://{{ item.ip }}:{{ item.port }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_http_version 1.1;
  }
{% if item.extra_locations is defined %}
{% for loc in item.extra_locations %}

  location {{ loc.location }} {
    proxy_pass {{ loc.proxy_pass }};
    proxy_redirect {{ loc.proxy_redirect }};
  }
{% endfor %}
{% endif %}
}
