{
  "http.port": 9010,
  "jwtEnabled": false,
  "jwtPublicKey": "/etc/omnius/installedbase/rs256-1024-public.pem",
  "http.host": "localhost",
  "isCatalogDetailsRequired": true,
  "adapter": {
    "useDefaultPath": true,
    "path": "",
    "delta": {
      "contracts": {
        "url": "https://dev-vnext.dynacommercelab.com/wiremock/delta/installedbase/contracts/",
        "sslEnabled": false,
        "sslHostNameVerification": false,
        "sslTrustAllCertificates": false,
        "authDetails": {
          "username": "hXMh3MGa3aAX3EY7vJd8SpQ4cpE88F2y",
          "password": "Z2Qmhpba37JFDemT58NDgE4ty3FV6Dpk"
        },
        "proxy": {
          "proxyEnabled" : false,
          "host": "",
          "port": 8080,
          "type": "HTTP",
          "useProxyAuth": false,
          "username": "",
          "password": ""
        }
      }
    }
  },
  "multimapper": {
    "http.host": "{{ installedbase.java_host }}",
    "http.port": 9008,
    "sslEnabled": false,
    "sslHostNameVerification": false,
    "sslTrustAllCertificates": false
  },
  "catalog": {
    "http.host": "{{ installedbase.php_host }}",
    "http.port": 9005,
    "sslEnabled": false,
    "sslHostNameVerification": false,
    "sslTrustAllCertificates": false
  },
  "metrics": {
    "useMetrics": false,
    "influxdb": {
      "login": "telegraf",
      "password": "{{ installedbase.influxdb_password }}",
      "protocol": "https",
      "host": "telegraf-influxdb.dynacommercelab.com",
      "port": 443,
      "db_name": "metrics"
    }
  }
}
