filter {
	grok {
	    match => {
	        "message" =>
	        [
	            "%{TIMESTAMP_ISO8601:timestamp}%{SPACE}%{LOGLEVEL:log_level}%{SPACE}\(%{NUMBER:log_level_number}\):%{SPACE}%{GREEDYDATA:message}$",
	            "%{GREEDYDATA:log}$"
            ]
        }
	    overwrite => [ "message" ]
	}
	date {
	    match => ["timestamp", "ISO8601"]
	    remove_field => ["timestamp"]
	}
}

{% for input in logstash.input -%}
input {
    {{ input.type }} {
        key => "{{ input.key }}"
        data_type => {{ input.data_type }}
        db => {{ input.db }}
        host => "{{ input.host }}"
        port => "{{ input.port }}"
        password => "{{ input.password }}"
        tags => {{ input.tags }}
        codec => "{{ input.codec }}"
    }
}
{% endfor %}

{% for output in logstash.output -%}
output {
    elasticsearch {
        hosts => "{{ output.hosts }}"
    }
}
{% endfor %}
